
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.shop-name{
    text-align: center;
}
.container{
    background-color: rgb(220, 215, 215);
    padding: 20px 20px;
    width: 40rem;
  
}
.img{
    width: 100px;
    height: 100px;

}
.display-items{
    display: flex;
    gap: 10px;
}
.btn{
   background-color: black;
   color: aliceblue;
   border-radius: 5px;
   border: none;
   padding: 5px;
   width: 30px;
}
.btns{
    text-align: center;
}
.limited-Stock{
    color: red;
}
.remove-cart{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100px;
}
span{
    color: rgb(3, 15, 15);
    font-weight: bold;
}
